<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>Add new Blog</title>
</head>

<body>
    <%- include('./partials/nav') %>

        <div class="container mt-3">
            <form action="/blog" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="imageInput" class="form-label">Cover Image</label>
                    <input type="file" class="form-control" id="imageInput" name="coverImage" >
                </div>
                <div class="mb-3">
                    <label for="titleInput" class="form-label">Title</label>
                    <input type="text" class="form-control" id="titleInput" name="title" >
                </div>
                <div class="mb-3">
                    <label for="bodyInput">Body</label>
                    <textarea class="form-control mt-1" placeholder="Write your blog here" id="bodyInput" name="body"></textarea>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <%- include('./partials/scripts.ejs') %>
</body>

</html>